body{
    background-color: #121212;
}

.quadro{
    background-color: #121212;
    color: #fff;
    width: 230px;
    height: 320px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border: 1px solid black;
}

.quadro:hover{
    background-color: black;
}

img{
    width: 200px;
    height: 280px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
}
.titulo{
    color: #fff;
    font-family: Roboto Condensed, sans-serif;
    display: block;
    font-size: 30px;
    margin-top: 20px;    
    margin-bottom: 20px;
}
.subtitulo{
    text-decoration: underline;
    padding: 10px 0;
    letter-spacing: .1em;
    font-size: 21px;
    font-family: Roboto Condensed, sans-serif; 
}
.informacoes{
    text-align: center;
    color: #fff;
}
div ul li{
    letter-spacing: .0.7em;
}
.bloco1{
    background-color: #121212;
    border-radius: 20px;
    border: 1px solid black; 
    margin-left: 250px;
    margin-right: 250px;
}