body{
    background-color: #c8c8c8;
}

.quadro{
    background-color: #484b4d;
    color: #fff;
    width: 250px;
    height: 320px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border: 1px solid black;
}

img{
    width: 200px;
    height: 280px;
    display: block;
    margin: auto;
    border-radius: 20px;
}
