*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #000;
}

header{
  width: 100%;
}
.header{
  height: 500px;
  background-image: url('/img/main2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.list-menu{
  text-align: center;
  padding-top: 40px;
}

.list-menu li{
  display: inline;
  padding: 10px;
 
}

.list-menu a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 5px;
  text-transform: uppercase;
}

.list-menu a:hover{
  border-bottom: 2px solid white;
}

.call-title{
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 150px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.experiencias{
  background-color: #f3f3f3;
  height: 400px;
}
.empresas{
  padding-top: 40px;
}

.empresas h1, .empresas p{
  color: #552e8e;
} 

.empresas h1{
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.empresas p{
  margin-top: 15px;
  text-align: center;
}
.empresas ul{
  text-align: center;
  margin-top: 40px;
}

.empresas li{
  display: inline-block;
  margin: 20px;
}

.empresa img{
  height: 150px;
  width: 380px;
}

.conhecimentos div{
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.back{
  background-color: #262262;
  width: 33%;
  float: left;
  height: 300px;
}

.mobile{
  background-color: #552e8e;
  width: 34%;
  float: left;
  height: 300px;
}

.front{
 background-color: #1a7777;
 width: 33%;
 float: left;
 height: 300px;
}

.lista-conhecimentos{
  margin-top: 20px;
}

.lista-conhecimentos li{
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
  padding: 5px;
}
